---
/**
 * Card
 * 制作実績を表示するカードコンポーネント
 */

const { tags = [], title, description, createdAt, href, hasGitHubLink } = Astro.props;
---

<article class="rounded-xl bg-white p-4 ring-3 ring-indigo-50 sm:p-6 lg:p-8">
  {
    tags.length > 0 && (
      <div class="flex flex-wrap gap-2">
        {tags.map((tag) => (
          <span class="rounded-sm border border-indigo-500 bg-indigo-500 px-2 py-1 text-xs font-medium text-white">
            {tag}
          </span>
        ))}
      </div>
    )
  }

  <h3 class="mt-4 text-xl font-bold sm:text-xl">
    {
      href ? (
        <a href={href} target="_blank" class="hover:underline">
          {title}
        </a>
      ) : (
        title
      )
    }
  </h3>

  <div class="mt-1 text-sm text-gray-700" set:html={description} />

  {
    hasGitHubLink && href && (
      <div class="mt-4">
        <a
          href={href}
          target="_blank"
          class="inline-flex items-center justify-center rounded-full border border-black px-2.5 py-0.5 text-black"
        >
          <img src="/assets/images/icon-github.svg" alt="" class="w-4" />
          <span class="pl-1 text-sm whitespace-nowrap">GitHub</span>
        </a>
      </div>
    )
  }

  <div class="mt-4">
    <p class="text-xs font-medium text-gray-500">実装時期： {createdAt}</p>
  </div>
</article>
